
#main-menu #extension-energyuse-menu-item {
  	background-image: url('../images/menu-icon.svg');
}


#extension-energyuse-view {
  	height: 100%; /*calc(100% - 7.6rem);*/
  	box-sizing: border-box;
	overflow: auto;
	position: absolute;
	top: 7.6rem;
	left: 0;
	padding: 2rem;
    box-sizing:border-box;
}

#extension-energyuse-view * {
    box-sizing:border-box;
}


#extension-energyuse-content {
	/*display:flex;
	flex-direction: column;*/
  	position: relative;
  	text-align: left;
  	font-size: 1.6rem;
  	color: #fff;
	height:auto;
}



/*  TITLE  */

#extension-energyuse-icon{
  display: inline-block;
  width: 3rem;
  height: 2rem;
  background-image: url('../images/menu-icon.svg');
  background-size: contain;
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: 0;
}

#extension-energyuse-title{
	text-align:left;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size:1.8rem;
    margin: 0 auto;
    display: block;
    padding: 1rem;
    padding-left: 3.8rem;
    font-size: 1.8rem;
    background-size: 2.8rem;
    background-repeat: no-repeat;
    background-position: 0;
    background-image: url('../images/menu-icon.svg');
	width:15rem;
	margin:0 auto;
}




#extension-energyuse-view label{
    display:block;
}

#extension-energyuse-view h3{
    margin-top:6rem;
}

#extension-energyuse-view p{
    line-height: 2.8rem;
}


#extension-energyuse-view input{
    border: none;
    padding: 1.6rem 1rem;
    border-radius: 0.5rem;
}

#extension-energyuse-view input[type=number]{
    width:8rem;
    max-width:8rem;
}

#extension-energyuse-view input[type=text]{
    width:auto;
    max-width:100%;
}






/*  MENU  */


#extension-energyuse-view button {
    font-size: 1.6rem;
    padding: 1rem;
    border: none;
}

.extension-energyuse-tab-buttons {
    background-color: rgba(255,255,255,.1);
    border-radius: 0.7rem;
    overflow: hidden;
    font-size: 0;
    width:60%;
    max-width: 60rem;
    margin: 4rem auto 0 auto;
    display:flex;
}

#extension-energyuse-view .extension-energyuse-tab-buttons button {
    background-color: transparent;
    border-right: 1px solid rgba(0,0,0,.05);
    color: #eee;
    cursor: pointer;
    font-size: 1.8rem;
    flex-grow:1;
}

#extension-energyuse-view .extension-energyuse-tab-buttons button:hover{
    background-color: rgba(0,0,0,0.1);
    color: white;
}

body #extension-energyuse-view .extension-energyuse-tab-selected {
    color: white;
    background-color: rgba(0,0,0,0.18)!important;
}

/*
#extension-energyuse-view .extension-energyuse-tab-buttons button:last-child {
    float: right;
}
*/

#extension-energyuse-virtual-page{
    display:none;
}








/*  PAGES  */


#extension-energyuse-tabs-container{
    /*display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;*/
    max-width:100rem;
    margin: 2rem auto;
}

#extension-energyuse-tabs-container > div{
    /*padding:2rem;*/
}


#extension-energyuse-list{
	width:auto;
	display:flex;
    flex-direction:column;
}



.extension-energyuse-centered-page{
    max-width:60rem;
    margin:0 auto;
}

.extension-energyuse-vlak{
    background-color:rgba(0,0,0,.15);
    border-radius:.5rem;
    padding:1rem;
}



/*  Warning  */

#extension-energyuse-devices-tip img{
    margin-right:4rem;
}

#extension-energyuse-devices-tip,
#extension-energyuse-missing-token{
    display: block; 
    max-width: 80rem; 
    margin: 4rem auto;
    padding:2rem;
    background-color:rgba(0,0,0,.2);
    border-radius:.5rem;
}

#extension-energyuse-missing-token{
    border:5px solid orange;
}



/*  other  */


.extension-energyuse-italic{
	font-style:italic;
}


#extension-energyuse-view select{
	display: inline-block;
	color:inherit;
	line-height: 1.6;

	border-radius: 0.5rem;
	box-sizing: border-box;
	border: none;
	/*background-color: #4d8bb7;*/
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: url(/images/select-arrow.svg);
	background-repeat: no-repeat;
	background-size: 1.25rem;
	background-position: calc(100% - 1rem);
    padding:1rem 3.5rem 1rem 2rem;
    max-width:15rem;
    margin-right:2rem;
    font-size: 1.6rem;
    background-color: rgba(0,0,0,.2);
}





/* ITEM  */

#extension-energyuse-original-item{
    display:none;
}


.extension-energyuse-week-container{
    width:100%;
    padding:2rem 0;
    margin-bottom:2rem;
    /*display:flex;
    flex-wrap:wrap;*/
}
.extension-energyuse-item-show-device-names,
.extension-energyuse-week-container > .extension-energyuse-item:first-of-type{
    min-width:20rem;
}
.extension-energyuse-item-show-device-names .extension-energyuse-item-stack-device,
.extension-energyuse-week-container > .extension-energyuse-item:first-of-type .extension-energyuse-item-stack-device{
    justify-content:space-between;
}


.extension-energyuse-item{
	padding: 1rem;
	display: flex;
    flex-direction:column;
	/*background-color: #46769C;*/
    background-color:rgba(0,0,0,.2);
	border-radius:.5rem;
    
	border-radius: .5rem;
	position: relative;
	width:auto;
	/*margin-bottom: 1rem;
    margin-left:1rem;*/
    flex-grow:1;
    justify-content: flex-start;
}
/*
.extension-energyuse-week-container > div:first-of-type{
    margin-left:0;
}*/

.extension-energyuse-week-container > div{
    margin:1rem;
}


.extension-energyuse-item-stack{
    display:flex;
    flex-direction:column;
}

.extension-energyuse-item-stack > div{
    margin:.2rem;
    /*border-bottom:rgba(255,255,255,.2);*/
}

.extension-energyuse-item-stack-device{
    display:flex;
    justify-content:right;
    border-bottom:1px solid rgba(255,255,255,.2);
}

.extension-energyuse-item-stack-device a{
    margin-right:1rem;
    text-decoration:none;
    opacity:.8;
}
.extension-energyuse-item-stack-device a:hover{
    opacity:1;
}

.extension-energyuse-item > div{
    padding:.5rem;
    text-align:right;
}



#extension-energyuse-view a{
	color:white;
	font-weight:bold;
    text-decoration:none;
}

.extension-energyuse-item a{
    display:none;
    text-align:left;
}

.extension-energyuse-week-container > .extension-energyuse-item-show-device-names a,
.extension-energyuse-week-container > .extension-energyuse-item:first-of-type a{
    display:inline;
}


.extension-energyuse-item-day-name{
    display:block;
    text-align:right;
}



.extension-energyuse-item-today{
    margin-right:0;
}

.extension-energyuse-item-today,
.extension-energyuse-item-today + .extension-energyuse-week-total{
    background: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,.2));
    background-size: 400% 400%;

    -webkit-animation: pulsate 5s ease infinite;
    -moz-animation: pulsate 5s ease infinite;
    animation: pulsate 5s ease infinite;
}

@-webkit-keyframes pulsate {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}
@-moz-keyframes pulsate {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}
@keyframes pulsate {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}





/*
.extension-energyuse-week-total{
    width:100%;
    text-align:right;
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem;
    display:flex;
    justify-content:space-between;
    background-color:rgba(0,0,0,.1);
    border-radius:.5rem;
}
*/
.extension-energyuse-week-total-kwh:before{
    content:'Week total: ';
    opacity:.3;
}







/*  GRAND TOTAL  */

#extension-energyuse-totals{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    margin: 4rem 0;
}
#extension-energyuse-totals > div{
    display:flex;
    flex-direction:column;
    /*justify-content:center;*/
    align-items:center;
}

.extension-energyuse-big-number-container{
    width:14rem;
    height:14rem;
    margin:1rem;
    background-color:rgba(0,0,0,.1);
    border-radius:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.extension-energyuse-big-number{
    font-size:3.6rem;
    font-weight:bold;
}

.extension-energyuse-big-number-title{
    opacity:.5;
}



/*
.extension-energyuse-item + .extension-energyuse-week-total{
    background-color:transparent;
}
*/


/*  BUTTONS  */


/*
#extension-energyuse-back-button{
    top: 2rem;
    left: 2rem;
    position: fixed;
    top:2rem;
    left:2rem;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 2.8rem;
    padding: 0;
    background-color: #5d9bc7;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    z-index: 1000;
    cursor: default;
    overflow:hidden;
    opacity:1;
    cursor:pointer;
    background: #5d9bc7 no-repeat center/100% url(/images/back.png);
    box-shadow: 0 1px 3px rgb(0 0 0 / 6%), 0 1px 2px rgb(0 0 0 / 12%);
}
#extension-energyuse-back-button:hover{
    background-color: #6dabd7;
}


#extension-energyuse-add-button{
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	background-image: url(/images/add.svg);
	border-radius: 2.8rem;
    cursor:pointer;
}
*/





.extension-energyuse-item-total{
    font-size:3rem;
    align-self:flex-end;
    margin-top:auto;
}


#extension-energyuse-toggle-button{
	background-image: url(/images/disable.svg);
    cursor:pointer;
    position: fixed;
    top:2rem;
    right:2rem;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 2.8rem;
    padding: 0;
    background-color: rgba(255,255,255,.2);
    border: none;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.9;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    z-index: 100;
    box-shadow: 0 1px 3px rgb(0 0 0 / 6%), 0 1px 2px rgb(0 0 0 / 12%);
    
}
#extension-energyuse-toggle-button:hover{
    opacity:1;
}






/*  TABLES  */

.extension-energyuse-week-no-device-details .extension-energyuse-device-total.extension-energyuse-column-total{
    opacity:0;
}

.extension-energyuse-week-no-device-details .extension-energyuse-device-yearly.extension-energyuse-column-yearly{
    opacity:0;
}

.extension-energyuse-show-predictions .extension-energyuse-week-no-device-details .extension-energyuse-device-total.extension-energyuse-column-total{
    opacity:1;
}


#extension-energyuse-view table{
    width:100%;
    border-radius:.5rem;
}
#extension-energyuse-view th:not(:empty),
#extension-energyuse-view td:not(:empty){
    padding:.2rem;
    vertical-align: bottom;
}


/*
.extension-energyuse-th{
    background:rgba(0,0,0,.1);
}

.extension-energyuse-sums td:not(.extension-energyuse-nothing){
    border-top:1px dotted rgba(255,255,255,.5);
    font-style:italic;
}
*/

#extension-energyuse-view td.extension-energyuse-column-total{
    border-left:1px dotted rgba(255,255,255,.5);
    font-style:italic;
    padding-left:1rem;
}

#extension-energyuse-view th[class^="extension-energyuse-th-day-"] {
    border-bottom:1px dotted rgba(255,255,255,.5);
}

body td[class^="extension-energyuse-day-sum-"] {
    padding-bottom:1rem;
    font-style:italic;
}


.extension-energyuse-device-day-use,
#extension-energyuse-list > div:first-of-type > table .extension-energyuse-device-day-use{
    min-width:2.5rem;
}


.extension-energyuse-device-tr td{
    border-bottom:1px dotted rgba(255,255,255,.15);
}

.extension-energyuse-device-tr:hover{
    background-color:rgba(0,0,0,.1)
}


.extension-energyuse-device-title{
    width:20%;
}

.extension-energyuse-device-title:first-letter{
  text-transform: capitalize
}

#extension-energyuse-view  .extension-energyuse-device-title a:hover{
    text-decoration:underline;
}

.extension-energyuse-th .extension-energyuse-device-title{
    opacity:0;
}

.extension-energyuse-column-total{
    width:10%;
}


.extension-energyuse-week-total{
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem;
    /*background-color:rgba(0,0,0,.1);*/
    border-radius:.5rem;
}


#extension-energyuse-view tr:not(.extension-energyuse-th) + tr.extension-energyuse-sums td:not(.extension-energyuse-nothing){
    border-top:1px dotted rgba(255,255,255,.5);
    font-style:italic;
}


#extension-energyuse-view .extension-energyuse-device-total.extension-energyuse-column-total{
    padding-left:1rem;
}



/* show costs  */

#extension-energyuse-options{
    /*display:flex;*/
    display:none;
    justify-content:center;
    align-items:center;
    background-color:rgba(255,255,255,.1);
    border-radius:.5rem;
    padding:2rem;
}

.extension-energyuse-cost{
    display:inline-block;
    background-color:rgba(255,255,255,.7);
    border-radius:.5rem;
    padding:0 .3rem;
    color:black;
    margin-left:.5rem;
}
.extension-energyuse-column-total .extension-energyuse-cost{
    padding:0 .7rem 0 .1rem;
}

/*
.extension-energyuse-cost:not(:empty)::before{
    content:'🪙';
}
*/



#extension-energyuse-overview-page.show-cost .extension-energyuse-kwh{
    display:none;
}

#extension-energyuse-overview-page:not(.show-cost) .extension-energyuse-cost{
    display:none;
}

.show-cost #extension-energyuse-today-so-far-container .extension-energyuse-big-unit{
    display:none;
}


#extension-energyuse-kwh-price{
    width: 10rem;
    max-width: 10rem;
}
    
#extension-energyuse-show-cost-button{
    margin-right:2rem;
}



/*  predictions  */

.extension-energyuse-column-yearly{
    display:none;
}
.extension-energyuse-show-predictions .extension-energyuse-column-yearly{
    display:table-cell;
}

#extension-energyuse-show-predictions-button{

}

.extension-energyuse-column-yearly .extension-energyuse-kwh,
.extension-energyuse-column-yearly .extension-energyuse-cost{
    filter: blur(.8px);
    opacity:.9;
}
.extension-energyuse-column-yearly .extension-energyuse-kwh:hover,
.extension-energyuse-column-yearly .extension-energyuse-cost:hover{
    filter: blur(0px);
    opacity:1;
}



/*  Live Wattage  */

#extension-energyuse-real-wattage-container,
#extension-energyuse-total-wattage-container{
    cursor:pointer;
}

#extension-energyuse-real-wattage-container .extension-energyuse-big-number-container:hover,
#extension-energyuse-total-wattage-container .extension-energyuse-big-number-container:hover{
    background-color: rgba(0,0,0,.3);
}

#extension-energyuse-wattage-details:not(:empty)::before{
    content:'Live power consumption';
    display:block;
    font-size:2rem;
    margin-top:2rem;
    padding:1rem 2rem;
    background-color:rgba(0,0,0,.1);
}

#extension-energyuse-wattage-details:not(:empty){
    background-color:rgba(0,0,0,.1);
    border-radius:.5rem;
    max-width: calc(50rem - 2rem);
    margin:4rem auto;
}

#extension-energyuse-wattage-details > div{
    padding:1rem 2rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

#extension-energyuse-wattage-details > div > span{
    display:inline-block;
}

/*
#extension-energyuse-wattage-details > div:not(:last-of-type){
    border-bottom:1px dotted rgba(255,255,255,.2);
}
*/



/*  ignored devices list  */

#extension-energyuse-devices-list{
    margin-bottom:4rem;
}

.extension-energyuse-devices-list-item{
    display:flex;
    padding:1rem;
    justify-content:space-between;
    align-items:center;
    
}

.extension-energyuse-devices-list-item:not(:last-of-type){
    border-bottom:1px dotted rgba(255,255,255,.1);
}

.extension-energyuse-devices-list-item input[type=checkbox]{
    zoom:200%;
}

.extension-energyuse-wattage-device-ignored,
.extension-energyuse-device-ignored td{
    opacity:.5;
}


/*   Virtual devices  */

#extension-energyuse-add-virtual-succeeded{
    background-color:green;
    padding:1rem 2rem;
    text-align:center;
    border-radius:.5rem;
    margin: .5rem 0;
    display:none;
}

#extension-energyuse-add-virtual-failed{
    background-color:red;
    padding:1rem 2rem;
    text-align:center;
    border-radius:.5rem;
    margin: .5rem 0;
    display:none;
}


.extension-energyuse-virtual-item{
    background-color:rgba(0,0,0,.1);
    margin: .5rem 0;
    padding:1rem 2rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.extension-energyuse-virtual-item-name{
    font-weight:bold;
    min-width:20rem;
}


.extension-energyuse-virtual-item-kwh::after{
    content:' kWh per day';
}

/*
.extension-energyuse-wattage-device + .extension-energyuse-wattage-device-virtual{
    border-top:1px solid rgba(255,255,255,.5);
}
*/

.extension-energyuse-wattage-device-virtual,
.extension-energyuse-virtual-item-name,
.extension-energyuse-device-tr-virtual{
    color:#d0d06f;
}


.extension-energyuse-show-if-virtual{
    display:none;
}

.extension-energyuse-has-virtual .extension-energyuse-show-if-virtual{
    display:inline-block;
}





/*  spinner  */

.extension-privacy-manager-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin:0 auto;
}
.extension-privacy-manager-spinner div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgba(255,255,255,.5);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.extension-privacy-manager-spinner div:nth-child(1) {
  left: 8px;
  animation: extension-privacy-manager-spinner1 0.6s infinite;
}
.extension-privacy-manager-spinner div:nth-child(2) {
  left: 8px;
  animation: extension-privacy-manager-spinner2 0.6s infinite;
}
.extension-privacy-manager-spinner div:nth-child(3) {
  left: 32px;
  animation: extension-privacy-manager-spinner2 0.6s infinite;
}
.extension-privacy-manager-spinner div:nth-child(4) {
  left: 56px;
  animation: extension-privacy-manager-spinner3 0.6s infinite;
}
@keyframes extension-privacy-manager-spinner1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes extension-privacy-manager-spinner3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes extension-privacy-manager-spinner2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}






#extension-energyuse-debug-warning{
    max-width:60rem;
    margin:2rem auto;
    padding:2rem;
    background-color:red;
    color:white;
    border-radius:.5rem;
}


@media screen and (min-width: 641px) {
	.extension-energyuse-line2 > div{
		width:auto;
	}
    
    .extension-energyuse-vlak{
        padding:2rem;
    }

    #extension-energyuse-view button {
        padding: 1rem 2rem;
    }
}


@media screen and (min-width: 801px) {
    th:not(:empty),
    td:not(:empty){
        padding:.5rem;
    }
}


@media screen and (min-width: 1025px) {
	#extension-energyuse-view{
		left:9.6rem;
		top: 0;
		height:100vh; 
		/*position:absolute;
		width: calc(100% - 9.6rem);
		padding-right:9.6rem;*/
	}
	
	#extension-energyuse-content-container{
		height:auto;
		/*width: calc(100% - 3rem);*/
	}
	
    .extension-energyuse-vlak{
        padding:4rem;
        border-radius:1rem;
    }
    
	/*
	.extension-energyuse-item{
		width: calc(50% - 4rem);
		margin-left: 2rem;
		margin-right: 2rem;
	}
	*/
	
}



@media screen and (max-width: 1024px) {
    #extension-energyuse-overview-page.show-cost .extension-energyuse-kwh{
        display:none;
    }
    
    #extension-energyuse-kwh-price{
        width: 8rem;
    }
    
}


@media print {
    #extension-energyuse-view {
      	height: auto;
    	overflow: visible;
    	position: initial;
    }
    
    #extension-energyuse-debug-warning,
    #extension-energyuse-options{
        display:none!important;
    }
    
    .extension-energyuse-week-container table{
        break-inside: avoid;
        page-break-inside: avoid;
        break-after: always;
        page-break-after: always;
        page-break-before:always;
        break-before:always;
    }
    
}
