<div id="extension-energyuse-content" class="extension-energyuse-show-tab-overview">
  
    <div id="extension-energyuse-content-container">
        <h3 id="extension-energyuse-title">Energy use</h3>


		<div class="extension-energyuse-tab-buttons">
            <button id="extension-energyuse-tab-button-overview" class="extension-energyuse-main-tab-button extension-energyuse-tab-selected">Overview</button>
            <button id="extension-energyuse-tab-button-virtual" class="extension-energyuse-main-tab-button">Devices</button>
        </div>
        
        <div id="extension-energyuse-tabs-container">

            <!--
            <div id="extension-energyuse-search-page" style="display:none">
                <button id="extension-energyuse-back-button" class="back-button icon-button" data-l10n-id="back-button" aria-label="Back"></button>
            </div>
            -->
            
            
            
            
            
            
            <div id="extension-energyuse-overview-page">
                
                <div id="extension-energyuse-totals">
                    
                    <div id="extension-energyuse-grand-total-container">
                        <div class="extension-energyuse-big-number-container">
                            <span id="extension-energyuse-grand-total" class="extension-energyuse-big-number">...</span>
                            <span class="extension-energyuse-big-unit">kWh</span>
                        </div>
                        <span class="extension-energyuse-big-number-title" title="This is the total reported by your devices since they started monitoring.">Grand total</span>
                    </div>
                    
                    
                    <div id="extension-energyuse-today-so-far-container">
                        <div class="extension-energyuse-big-number-container">
                            <span id="extension-energyuse-today-so-far" class="extension-energyuse-big-number">...</span>
                            <span class="extension-energyuse-big-unit">kWh</span>
                        </div>
                        <span class="extension-energyuse-big-number-title" title="KwH consumed up until the start of the hour.">Today</span>
                    </div>
                    
                    
                    <div id="extension-energyuse-real-wattage-container">
                        <div class="extension-energyuse-big-number-container">
                            <span id="extension-energyuse-real-wattage" class="extension-energyuse-big-number">...</span>
                            <span class="extension-energyuse-big-unit">Watt</span>
                        </div>
                        <span class="extension-energyuse-big-number-title" title="This is the total amount of Watts your measured devices are currently consuming."><span class="extension-energyuse-show-if-virtual">Real&nbsp;</span>Wattage</span>
                    </div>
                    
                    <div id="extension-energyuse-total-wattage-container" class="extension-energyuse-show-if-virtual">
                        <div class="extension-energyuse-big-number-container">
                            <span id="extension-energyuse-total-wattage" class="extension-energyuse-big-number">...</span>
                            <span class="extension-energyuse-big-unit">Watt</span>
                        </div>
                        <span class="extension-energyuse-big-number-title" title="This is the combined amount of Watts your measured devices and virtual devices are currently consuming.">Total Wattage</span>
                    </div>
                    
                    
                </div>
                
                <div id="extension-energyuse-wattage-details" style="display:none">
                    
                </div>
                
                
                <div id="extension-energyuse-options">
                    <input id="extension-energyuse-kwh-price" class="extension-energyuse-number-input" type="number" step="0.00001" placeholder="cost per kWh"/>
                    <button id="extension-energyuse-show-cost-button" class="text-button">Show cost</button>
                    <button id="extension-energyuse-hide-cost-button" class="text-button" style="display:none">Hide cost</button>
                    <button id="extension-energyuse-show-predictions-button" class="text-button">Show yearly predictions</button>
                    <!--<button id="extension-energyuse-show-virtual-button" class="text-button">Virtual devices</button>-->
                </div>
                
                <div id="extension-energyuse-list">
                    <div id="extension-energyuse-loading">
                        <div class="extension-energyuse-spinner">
                            <div></div><div></div><div></div><div></div>
                        </div>
                    </div>
                    <p style="text-align:center">If you just installed this addon: values will be calculated at midnight.</p>
                </div>
                <!--
                <button id="extension-energyuse-add-button" class="icon-button" aria-label="New"></button>
                -->
            </div>
            
            
            <div id="extension-energyuse-virtual-page">
                <div class="extension-energyuse-centered-page extension-energyuse-vlak">
                    
                    
                    <h2>Ignored devices</h2>
                    <p>You may want some energy measurement devices to be skipped when calculating total use. Typically this happens when you have an energy measurement device that is plugged into another energy measurement device.</p>
                    <p>Details about the device will still be shown; only the calculation of total energy consumption values is affected.</p>
                    
                    <div id="extension-energyuse-devices-list" class="extension-energyuse-vlak"></div>
                    
                    
                    
                    <h2 style="margin-top:10rem">Virtual devices</h2>
                    <p>Some always-on devices, such as your internet router, consume a consistent and predictable amount of electricity every day.</p>
                    <p>To use smart plugs to measure their consumption would be a bit of a waste. Once you know how much energy a device normally uses, you can create a 'virtual energy measurement devices' instead. Doing so allows you to pretend that the energy consumption of the device is being measured without needing an real electricity measurement plug.</p>
                    <p>To add a virtual device, simply provide a name and how much kWh it uses per day.</p>
                    
                    <div id="extension-energyuse-virtual-list">There are no virtual devices yet.</div>
                    
                    <h3>Add a virtual device</h3>
                    
                    <div class="extension-energyuse-vlak" style="display:flex; flex-wrap:wrap; margin-bottom:1rem;flex-direction:column">
                        <div style="width:100%;min-width:20rem;box-sizing:border-box;margin-bottom:2rem">
                            <label>Name</label>
                            <input id="extension-energyuse-add-virtual-name" class="extension-energyuse-text-input" style="width:100%">
                        </div>
                        <div style="width:100%;min-width:10rem; display:flex;">
                            
                            <div style="margin-right:2rem">
                                <label>Kwh per day</label>
                                <input id="extension-energyuse-add-virtual-kwh" class="extension-energyuse-number-input" type="number" step="0.00001"  style="min-width:10rem;"/>
                            </div>
                            
                            <p style="opacity:.7;font-weight:bold">or</p>
                           
                           <div style="margin-left:2rem">
                               <label>Watt</label>
                               <input id="extension-energyuse-add-virtual-watt" class="extension-energyuse-number-input" type="number" step="0.1" style="min-width:10rem;"/>
                           </div>
                           
                        </div>
                    </div>
                    <div style="text-align:right">
                        <button id="extension-energyuse-add-virtual-button" class="text-button" style="font-size:2rem">Add</button>
                    </div>
                    <div id="extension-energyuse-add-virtual-succeeded">Saved</div>
                    <div id="extension-energyuse-add-virtual-failed">Could not save</div>
                        
                    <p style="opacity:.7; font-style:italic">Note: it will take at least a day for a new virtual device to show up in the data properly.</p>
                        
                </div>
            </div>
            
		
        </div>
        
        
		<div id="extension-energyuse-original-item" class="extension-energyuse-item">
            <div class="extension-energyuse-item-date"></div>
			<div class="extension-energyuse-item-stack"></div>
            <div class="extension-energyuse-item-total"></div>
		</div>
        
        <br/>
        <br/>
        <div id="extension-energyuse-missing-token" style="display:none;">
            <h2>This addon requires your permission to read devices</h2>
            <p>Use the Candle app store and open this addon's settings page. There you can give permission. Don't forget to click 'save' once you changes the permission.</p>
        </div>
        
        <br/>
        <br/>
        <div id="extension-energyuse-devices-tip" style="display:none;">
            <img src="/extensions/energyuse/images/wireless-plug.svg" width="100" style="float:left">
            <p>If you don't have any energy monitoring devices yet, take a look at the recommended devices on www.candlesmarthome.com.</p>
            <p>If you already use such devices, then please wait a while. This addon checks and stores the values at midnight.</p>
            <a style="clear:both"></a>
        </div>

        <div id="extension-energyuse-debug-warning" style="display:none">
            <h2>Debugging is enabled</h2>
            <p>This addon is currently set to save detailed information about its operation in the internal logs. This may impact your privacy, as this also means that insights into your behaviour might be stored in those logs.</p>
            <p>You can disable debugging mode by going to <span style="font-style:italic">Settings</span>, then <span style="font-style:italic">Addons</span>, and then clicking on the <span style="font-style:italic">Settings</span> button for the <span style="font-style:italic">Zibgbee2MQTT</span> addon. There you can uncheck the debugging option and click <span style="font-style:italic">Apply</span>.
        </div>

        <div id="extension-energyuse-response">
            <p id="extension-energyuse-response-data" class="extension-energyuse-centered-error"></p>
        </div>
        <br/>
        <!--
        <button id="extension-energyuse-volume-down-button" class="icon-button" aria-label="Down"></button>
        <button id="extension-energyuse-volume-up-button" class="icon-button" aria-label="Up"></button>
        <button id="extension-energyuse-toggle-button" class="icon-button hidden" aria-label="Play/Pause"></button>
        -->
    </div>
    
</div>





