<div id="extension-energyuse-content" class="extension-energyuse-show-tab-timers">
  
    <div id="extension-energyuse-content-container">
        <h3 id="extension-energyuse-title">Energy use</h3>

        <div id="extension-energyuse-tabs-container">

            <!--
            <div id="extension-energyuse-search-page" style="display:none">
                <button id="extension-energyuse-back-button" class="back-button icon-button" data-l10n-id="back-button" aria-label="Back"></button>
            </div>
            -->
            
            <div id="extension-energyuse-main-page">
                
                <div id="extension-energyuse-totals">
                    <div id="extension-energyuse-grand-total-container">
                        <div class="extension-energyuse-big-number-container">
                            <span id="extension-energyuse-grand-total" class="extension-energyuse-big-number">...</span>
                            <span class="extension-energyuse-big-unit">KWh</span>
                        </div>
                        <span class="extension-energyuse-big-number-title" title="This is the total reported by your devices since they started monitoring.">Grand total</span>
                    </div>
                    
                </div>
                
                <div id="extension-energyuse-list">
                    <div id="extension-energyuse-loading">
                        <div class="extension-energyuse-spinner">
                            <div></div><div></div><div></div><div></div>
                        </div>
                    </div>
                    <p style="text-align:center">If you just installed this addon: values will be calculated at midnight.</p>
                </div>
                <!--
                <button id="extension-energyuse-add-button" class="icon-button" aria-label="New"></button>
                -->
            </div>
            
		
        </div>
        
        
		<div id="extension-energyuse-original-item" class="extension-energyuse-item">
            <div class="extension-energyuse-item-date"></div>
			<div class="extension-energyuse-item-stack"></div>
            <div class="extension-energyuse-item-total"></div>
		</div>
        

        <br/>
        <br/>
        
        <div id="extension-energyuse-devices-tip" style="display:none; max-width:80rem;margin:0 auto">
            <p>If you don't have any energy monitoring devices yet, we recommend the Heiman (Zigbee) smart plug, which you can find on websites such as Aliexpress.</p>
            <p>If you already use such devices, then please wait a while. This addon checks and stores the values at midnight.</p>
        </div>

        <div id="extension-energyuse-missing-token" style="display:none; max-width:80rem;margin:0 auto">
            <h2>Please generate an authorization token</h2>
            <p>This addon requires an "authorizion token" to work. Without it, the data from your devices cannot be read.</p>
            <p>You can generate this "password" by going to settings, developer, and then "create local authorization". There you can click the button to generate a password. Copy it, and paste it into the appropriate field in this addon's settings page. Then click 'apply' to save the token.</p>
        </div>

        <div id="extension-energyuse-debug-warning" style="display:none">
            <h2>Debugging is enabled</h2>
            <p>This addon is currently set to save detailed information about its operation in the internal logs. This may impact your privacy, as this also means that insights into your behaviour might be stored in those logs.</p>
            <p>You can disable debugging mode by going to <span style="font-style:italic">Settings</span>, then <span style="font-style:italic">Addons</span>, and then clicking on the <span style="font-style:italic">Settings</span> button for the <span style="font-style:italic">Zibgbee2MQTT</span> addon. There you can uncheck the debugging option and click <span style="font-style:italic">Apply</span>.
        </div>

        <div id="extension-energyuse-response">
            <p id="extension-energyuse-response-data" class="extension-energyuse-centered-error"></p>
        </div>
        <br/>
        <!--
        <button id="extension-energyuse-volume-down-button" class="icon-button" aria-label="Down"></button>
        <button id="extension-energyuse-volume-up-button" class="icon-button" aria-label="Up"></button>
        <button id="extension-energyuse-toggle-button" class="icon-button hidden" aria-label="Play/Pause"></button>
        -->
    </div>
    
</div>





